.contact-list {
  display: flex;
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}

.mail-link,
.tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
}

.mail-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
  width: 16px;
  height: 12px;
  fill: $main-text-cl;
}

.tel-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
  width: 10px;
  height: 16px;
  fill: $main-text-cl;
}

.contact-item:hover,
.contact-item:focus {
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  fill: $accent-cl;
}

.contact-item:hover .mail-icon,
.contact-item:focus .mail-icon {
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  fill: $accent-cl;
}

.contact-item:hover .tel-icon,
.contact-item:focus .tel-icon {
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  fill: $accent-cl;
}
