@mixin fonts($fs, $fw, $lh, $ls: 0.03em) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin transition {
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

@mixin display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
